/.idea/
/bak_historical_api_results/
/api_results/
/__pycache__/
/parsers/__pycache__/
/res/__pycache__/
/util/__pycache__/

# data ignore
*.json

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

# system ignore
.DS_Store
Thumbs.db